{% extends 'layout.html' %}

{% block content %}

{% if form.errors %}
<p>{{ form.errors.error }}</p>
{% endif %}

<div class="ui container" style="width: 30%">
    <h1 class="ui center aligned header">Login</h1>
    <form action="{% url 'login' %}" method="post"  class="ui form">
        {{ form }}
        {% csrf_token %}
        <button class="ui teal basic button"  style="margin-top: 15px" type="Submit">Login</button>
    </form>
    <div style="margin-top: 15px">
    <a href="{% url 'password_reset' %}"  class="ui button">Forgot password?</a>

    <a href="{% url 'register' %}" class="ui button">Not registered yet?</a>
    </div>
</div>


{% endblock %}